@charset "UTF-8";
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto;
  margin: 0;
}

@media screen and (min-width: 320px) {
  .container {
    padding: 0 12px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 0 36px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    padding: 0 320px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.hero {
  background-position: center;
}
@media screen and (min-width: 320px) {
  .hero {
    background-image: url(../../images/hero/hero1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    height: 713px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url(../../images/hero/hero_tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 20px;
    padding-left: 36px;
    padding-right: 36px;
    height: 1000px;
  }
}
@media screen and (min-width: 1920px) {
  .hero {
    background-image: url(../../images/hero/hero_desktop.jpg);
    padding-left: 320px;
    padding-right: 320px;
  }
}

@media screen and (min-width: 320px) {
  .hero__logo {
    width: 200px;
    height: 50px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .hero__logo {
    margin: 0;
    width: 296px;
    height: 73.5px;
  }
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  .hero__list {
    gap: 40px;
  }
}

@media screen and (min-width: 320px) {
  .hero__item {
    width: 25px;
    height: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__item {
    width: 30px;
    height: 30px;
  }
}

.hero__button-block {
  text-align: center;
  height: 207px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../images/hero/block.svg);
  margin-top: -157px;
  padding-top: 30px;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (min-width: 1024px) {
  .hero__button-block {
    text-align: start;
    background-image: url(../../images/hero/block-desktop.svg);
    padding-top: 70px;
    margin-top: -369px;
    margin-left: auto;
    margin-right: 36px;
    width: 624px;
    height: 369px;
    padding-left: 70px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__button-block {
    margin-right: 320px;
  }
}

.hero__text {
  color: #000;
  font-family: Archangelsk;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1024px) {
  .hero__text {
    text-align: start;
    font-size: 62px;
  }
}

.hero__button {
  width: 244px;
  height: 60px;
  display: inline-block;
  margin-top: 25px;
  background-color: #000;
  color: #F8F200;
  border: none;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 2; /* 200% */
}
@media screen and (min-width: 1024px) {
  .hero__button {
    width: 278px;
    height: 48;
  }
}

.discription__title {
  color: #000;
  font-family: Archangelsk;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  .discription__title {
    font-size: 62px;
    width: 620px;
  }
}
@media screen and (min-width: 1920px) {
  .discription__title {
    width: 1000px;
  }
}

.discription__main {
  margin-top: 25px;
  color: #777777;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
@media screen and (min-width: 1024px) {
  .discription__main {
    font-size: 18px;
    line-height: 34px;
  }
}

.gallery {
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  .gallery {
    margin-top: 70;
    padding: 0 36px;
    min-width: 952px;
  }
}
@media screen and (min-width: 1920px) {
  .gallery {
    width: 1280px;
    padding: 0 320px;
  }
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .gallery__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1920px) {
  .gallery__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 432px;
  }
}

.contest {
  background-color: black;
  margin-top: -5px;
}
@media screen and (min-width: 1024px) {
  .contest {
    padding-top: 40px;
  }
}

.contest__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contest__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 980px;
  }
}
@media screen and (min-width: 1920px) {
  .contest__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 800px;
  }
}

.contest__title {
  color: #FFF;
  font-family: Archangelsk;
  font-size: 30px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .contest__title {
    font-size: 62px;
  }
}
.contest__text {
  margin-top: 25px;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
@media screen and (min-width: 1024px) {
  .contest__text {
    width: 460px;
    font-size: 18px;
    line-height: 34px;
  }
}
@media screen and (min-width: 1920px) {
  .contest__text {
    width: 80%;
  }
}

.contest__form {
  margin-top: 60px;
}
@media screen and (min-width: 1024px) {
  .contest__form {
    width: 460px;
  }
}

.contest__input {
  width: 100%;
  height: 45px;
  margin-top: 35px;
  background-color: black;
  border: none;
  border-bottom: solid #777777;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .contest__input {
    font-size: 18px;
  }
}

.contest__input::-webkit-input-placeholder {
  color: #FFF;
}

.contest__input::-moz-placeholder {
  color: #FFF;
}

.contest__input:-ms-input-placeholder {
  color: #FFF;
}

.contest__input::-ms-input-placeholder {
  color: #FFF;
}

.contest__input::placeholder {
  color: #FFF;
}

.contest__file {
  display: none;
}

.contest__fileLabel {
  margin-top: 35px;
  width: 100%;
  display: inline-block;
  padding: 50px 65px;
  border: 1px dashed #777777;
  cursor: pointer;
}

.contest__fileLabel:hover {
  background-color: #F8F200;
}

.contest__file + .contest__fileLabel::before {
  content: "Attach a screenshot";
  text-align: center;
  display: block;
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: underline;
}

.contest__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 60px;
  padding: 15px 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #F8F200;
  border: none;
  margin-top: 35px;
}
.contest__photo {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-top: 55px;
}
@media screen and (min-width: 1024px) {
  .contest__photo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 460px;
    height: 858px;
  }
}
@media screen and (min-width: 1920px) {
  .contest__photo {
    width: 788px;
    height: 456px;
  }
}

.ad {
  background-color: #F8F200;
  margin-top: -4px;
  padding-bottom: 70px;
}

@media screen and (min-width: 1024px) {
  .ad__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 796px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1920px) {
  .ad__container {
    height: 676px;
  }
}

.ad__monitor {
  width: 296px;
  height: 204px;
  margin-top: 70px;
}
@media screen and (min-width: 1024px) {
  .ad__monitor {
    width: 460px;
    height: 317px;
    margin-top: 112px;
  }
}
@media screen and (min-width: 1920px) {
  .ad__monitor {
    width: 624px;
    height: 430px;
    margin-top: 70px;
  }
}

.ad__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
  margin-top: 25px;
}
@media screen and (min-width: 1024px) {
  .ad__icons {
    width: 460px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1920px) {
  .ad__icons {
    width: 624px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.ad__hp {
  width: 45px;
  height: 45px;
}
@media screen and (min-width: 1024px) {
  .ad__hp {
    width: 80px;
    height: 80px;
  }
}

.ad__x {
  width: 20px;
  height: 20px;
}

.ad__cyber {
  width: 175px;
  height: 44px;
}
@media screen and (min-width: 1024px) {
  .ad__cyber {
    width: 320px;
    height: 80px;
  }
}

.ad__title {
  font-family: Archangelsk;
  font-size: 30px;
  font-weight: 400;
  margin-top: 40px;
}
@media screen and (min-width: 1024px) {
  .ad__title {
    width: 460px;
    font-size: 62px;
  }
}

.ad__text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 25px;
}
@media screen and (min-width: 1024px) {
  .ad__text {
    width: 460px;
    font-size: 18px;
  }
}

.ad__benefits {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .ad__benefits {
    width: 460px;
  }
}

.ad__benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ad__icon {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1024px) {
  .ad__icon {
    width: 32px;
    height: 32px;
  }
}

.benefit__text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .benefit__text {
    font-size: 18px;
  }
}

.ad__button {
  background-color: #000;
  color: #F8F200;
  height: 60px;
  width: 180px;
  padding: 24px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  border: none;
}

.buy {
  background-color: #000;
}
@media screen and (min-width: 1024px) {
  .buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 320px) {
  .buy__container {
    padding: 0 12px 70px 12px;
  }
}
@media screen and (min-width: 1024px) {
  .buy__container {
    padding: 0 36px 77px 36px;
  }
}
@media screen and (min-width: 1920px) {
  .buy__container {
    padding: 0 32px 77px 32px;
  }
}

.buy__title {
  color: #FFF;
  font-family: Archangelsk;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  margin-top: 40px;
  line-height: normal;
}
@media screen and (min-width: 1024px) {
  .buy__title {
    font-size: 62px;
    margin-top: 70px;
  }
}

.buy__discription {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 25px;
}
@media screen and (min-width: 1024px) {
  .buy__discription {
    font-size: 24px;
  }
}

.buy__list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.buy__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

.buy__icon {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 1024px) {
  .buy__icon {
    width: 32px;
    height: 32px;
  }
}

.buy__text {
  color: #FFF;
  width: 250px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1024px) {
  .buy__text {
    font-size: 18px;
    width: 500px;
  }
}

.buy__discription2 {
  margin-top: 40px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media screen and (min-width: 1024px) {
  .buy__discription2 {
    font-size: 24px;
  }
}

.buy__platforms {
  margin-top: 25px;
  height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.buy__pc {
  width: 65px;
  height: 35.19px;
}

.buy__stadia {
  width: 58px;
  height: 50.19px;
}

.buy__ps {
  width: 168px;
  height: 35.19px;
}

.buy__xbox {
  width: 178px;
  height: 35.19px;
}

.footer__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .footer__first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 64px;
    padding: 13px 36px;
  }
}
@media screen and (min-width: 1920px) {
  .footer__first {
    padding: 13px 320px;
  }
}

.footer__logos {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer__logos {
    margin-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }
}

.footer__cyber {
  width: 200px;
  height: 50px;
}
@media screen and (min-width: 1024px) {
  .footer__cyber {
    width: 296px;
    height: 73.5px;
  }
}

.footer__red {
  width: 116.25px;
  height: 50px;
}
@media screen and (min-width: 1024px) {
  .footer__red {
    width: 172.05px;
    height: 74px;
  }
}

.footer__license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0;
  margin-top: 25px;
  background-color: #E6E6E6;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer__license {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 80px;
    margin-top: 0;
    background-color: #fff;
  }
}

.footer__link {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .footer__link {
    font-size: 18px;
  }
}

.footer__second {
  background-color: #000;
  padding: 13px 0;
}

.footer__copy {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (min-width: 1024px) {
  .footer__copy {
    font-size: 18px;
  }
}

.blue {
  color: #52BEDC;
}

.spray1 {
  border-color: white;
  margin-top: 70px;
  width: 100%;
}

.spray2 {
  margin-top: -1px;
  width: 100%;
}

/* Стилизация кастомного чекбокса */
.checkbox {
  display: none;
}

.custom-checkbox {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
}

/* Стилизация видимой части кастомного чекбокса */
.checkmark {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #777777;
  margin-right: 10px;
  position: relative;
}

/* Стилизация "галочки" внутри кастомного чекбокса */
.checkmark::after {
  content: "";
  display: none;
  width: 10px;
  height: 5px;
  border: solid #F8F200;
  border-width: 2px 2px 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

/* Стилизация кастомного чекбокса при его активации */
.custom-checkbox input:checked + .checkmark {
  background-color: black; /* Цвет фона при выборе чекбокса */
  border: 2px solid #F8F200; /* Цвет рамки при выборе чекбокса */
}

/* Показываем "галочку" при активированном чекбоксе */
.custom-checkbox input:checked + .checkmark::after {
  display: block;
}/*# sourceMappingURL=main.css.map */