body{
    font-family: Roboto;
    margin: 0;

    
}

.container{
    @include mobile{
        padding: 0 12px;
    }

    @include tablet{
        padding: 0 36px;
    }

    @include desktop{
        padding: 0 320px;
    }
}